
.wrapper {
    width: 480px;
    height: 650px;
}


.header {
    width: 480px;
    height: 150px;
    background-color: #4B4B4B;
}

.cal-result {
    color: white;
    font-size: 90px;
    float: right;
    padding-right: 20px;
    line-height: 150px;
}

.row {
    width: 480px;
    height: 100px;
}

.left-btn {
    width: 116px;
    height: 96px;
    background-color: #DFDFDF;
    color: black;
    font-size: 50px;
    border: 2px solid black;
    display: inline-block;
    text-align: center;
    line-height: 90px;
    float: left;
}

.right-btn {
    width: 116px;
    height: 96px;
    background-color: #F69133;
    font-size: 50px;
    color: white;
    border: 2px solid black;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    float: right;
}

.zero-btn {
    width: 192px;
    height: 96px;
    padding-left: 44px;
    background-color: #DFDFDF;
    color: black;
    font-size: 50px;
    border: 2px solid black;
    display: inline-block;
    text-align: left;
    line-height: 90px;
    float: left;
}


